<nav class="user-navbar">
  <div class="site-title">
    <a routerLink="/" style="text-decoration: none; color: inherit;">
      Smart Mart
    </a>
  </div>

  <div class="user-info">
    <mat-icon>account_circle</mat-icon>
    <span class="user-name">{{ userName }}</span>
  </div>

  <ul class="nav-links">
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/user/products" routerLinkActive="active">Products</a></li>

    <li>
      <a routerLink="/user/cart" routerLinkActive="active" class="cart-link">
        <mat-icon>shopping_cart</mat-icon>
        <span>Cart</span>
        <span *ngIf="cartItemCount > 0" class="cart-badge">{{ cartItemCount }}</span>
      </a>
    </li>
    <li><a routerLink="/user/orders" routerLinkActive="active">My Orders</a></li>
    <li>
      <button mat-button [matMenuTriggerFor]="feedbackMenu">
        Feedback
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #feedbackMenu="matMenu">
        <button mat-menu-item [routerLink]="'/user/feedback'" >Add Feedback</button>
        <button mat-menu-item [routerLink]="'/user/view-feedback'">View Feedback</button>
      </mat-menu>
    </li>
    <li>
      <button (click)="triggerLogoutPopup()" style="background-color: rgb(180, 7, 7);">
        Logout
      </button>
    </li>
  </ul>
</nav>